@import url(http://fonts.googleapis.com/css?family=Alice);
@import url(http://fonts.googleapis.com/css?family=Chivo);
@font-face {
  font-family: 'icomoon';
  src: url('assets/fonts/icomoon.eot');
  src: url('assets/fonts/icomoon.eot?#iefix') format('embedded-opentype'), url('assets/fonts/icomoon.woff') format('woff'), url('assets/fonts/icomoon.ttf') format('truetype'), url('assets/fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon-image,
.icon-dice,
.icon-spinner,
.icon-arrow-right,
.icon-chrome,
.icon-firefox,
.icon-opera {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-image:before {
  content: "\e000";
}
.icon-dice:before {
  content: "\e001";
}
.icon-spinner:before {
  content: "\e002";
}
.icon-arrow-right:before {
  content: "\e003";
}
.icon-chrome:before {
  content: "\e004";
}
.icon-firefox:before {
  content: "\e005";
}
.icon-opera:before {
  content: "\e006";
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}
:-moz-placeholder {
  color: rgba(255, 255, 255, 0.4);
}
::-moz-placeholder {
  color: rgba(255, 255, 255, 0.4);
}
:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}
body,
html,
section {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.login-view {
  overflow: hidden;
  background: #0D3F40;
  font-family: 'Raleway', sans-serif;
}
.login-view * {
  -webkit-transition: all 700ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 700ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 700ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 700ms cubic-bezier(0.165, 0.84, 0.44, 1);
  /* easeOutQuart */
}
.login-view h1,
.login-view p {
  margin: 0;
}
.login-view h1 {
  font-size: 100px;
  font-family: 'Alice', serif;
}
.login-view p {
  text-align: center;
  font-size: 20px;
}
.login-view input {
  display: block;
  padding: 8px 16px;
  background: #487360;
  border: none;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  color: #F2D795;
}
.login-view button {
  width: 90px;
  border-radius: 7px;
  border: 0;
  padding: 10px 16px;
  font-family: 'Raleway', sans-serif;
}
.login-view .center {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 730px;
  margin: 0 0 0 -365px;
}
.login-view .center.left {
  -webkit-transform: translateX(-300px);
}
.login-view .title-block {
  position: absolute;
  left: 0;
  margin: -77px 0 0 0;
  padding: 10px;
  color: #F2D795;
}
.login-view .login-block {
  position: absolute;
  right: 0;
  background: #003540;
  padding: 10px 10px;
  margin: -64px 0 0 0;
  border-radius: 20px;
}
.login-view .login-block .username {
  border-radius: 10px 10px 0 0;
}
.login-view .login-block .password {
  border-radius: 0 0 10px 10px;
}
.login-view .login-block .login-btn,
.login-view .login-block .reg-btn {
  position: absolute;
  right: -82px;
}
.login-view .login-block .submit-btn {
  margin: 10px 0 0 0;
}
.login-view .about-block {
  position: absolute;
  top: 50%;
  background: #F15C4C;
  z-index: 0;
  right: 80px;
  height: 500px;
  width: 500px;
  margin: -250px 0 0 0;
  text-align: center;
  border-radius: 100%;
  opacity: 1;
  transform-origin: center;
  -webkit-transform: translate(600px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(180deg);
}
.login-view .about-block.shown {
  -webkit-transform: translate(0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
.login-view .about-block h1 {
  margin: 70px 0 0 0;
  font-size: 65px;
}
.login-view .about-block h2 {
  margin: -5px;
  font-size: 70px;
}
.login-view .about-block p {
  margin: 10px 0 0 0;
  font-size: 18px;
  width: 400px;
}
.login-view .about-block div {
  margin: 20px 0 0 0;
  font-size: 30px;
}
.login-view .options-block {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin: 0 0 10px -100px;
}
.home-view {
  background: red;
}
.rotatein {
  -moz-animation-name: rotate-in-keyframes;
  -moz-animation-duration: 2000ms;
  -moz-animation-delay: 0ms;
  -moz-animation-fill-mode: forwards;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 0 0;
  -webkit-animation-name: rotate-in-keyframes;
  -webkit-animation-duration: 2000ms;
  -webkit-animation-delay: 0ms;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 0 0;
  animation-name: rotate-in-keyframes;
  animation-duration: 2000ms;
  animation-delay: 0ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: 0 0;
}
@-moz-keyframes rotate-in-keyframes {
  0% {
    -moz-transform: translate(300px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(180deg) translate(-50%, -50%);
  }
  100% {
    -moz-transform: translate(0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);
  }
}
@-webkit-keyframes rotate-in-keyframes {
  0% {
    -webkit-transform: translate(300px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(180deg) translate(-50%, -50%);
  }
  50% {
    -webkit-transform: translate(9.375px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(5.625deg) translate(-50%, -50%);
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);
  }
}
@keyframes rotate-in-keyframes {
  0% {
    transform: translate(300px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(180deg) translate(-50%, -50%);
  }
  50% {
    transform: translate(9.375px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(5.625deg) translate(-50%, -50%);
  }
  100% {
    transform: translate(0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);
  }
}
